.container {
    display: flex;
    flex-direction: column;
    max-height:  100vh;
    height: 100vh;
    gap: 20px;
}
header, footer {
    margin: 20px 0;
    text-align: center;
}
.nested_container {
    flex-grow: 1;
}
.animateImg {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    height: calc(100vh/3);
    object-fit: fill;
    animation: changeTransparency 2s infinite;
    margin-bottom: 20px;
}
@keyframes changeTransparency {
    0% {
        opacity: 1;
    }
    25% {
        opacity: .9;
    }
    50% {
        opacity: .8;
    }
    75% {
        opacity: .5;
    }
    100% {
        opacity: .25;
    }
}